@import "../../../main-style.scss";
.program-schedule {
  .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 400px;
    }
  }
}
.program-heading {
  text-align: center;
  margin: 1rem 0;
  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: black;
  }
  p {
    font-weight: 300;
  }
}
::ng-deep {
  .mat-tab-body-content {
    overflow: hidden !important;
    // margin: 3rem 0;
  }
}
.columns {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.date-container {
  display: flex;
  justify-content: center;
  align-content: center;

  .date {
    margin: 2rem 2rem;
    // margin-top: 1rem;
    background: url("../../../assets/Visa\ Card\ 2\ \(Matt\ Black\).png");
    background-size: cover;
    // background: $primary;
    // display: block;
    width: 250px;
    border-radius: 20px;
    background-position: center;
    height: 120px;
    text-align: center;
    h1 {
      padding: 1rem 2rem;
      font-size: 2rem;
      color: white;
      font-weight: 600;
    }
  }
}
.cards {
  margin-top: -8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // flex-direction: column;
  .lines {
    margin-right: 40px;
    margin-top: 6px;

    .dot {
      width: 14px;
      height: 14px;

      background: $primary;
      border-radius: 7px;
      &::before {
        content: "";
      }
    }
    .line {
      height: 130px;
      width: 2px;
      background: #d1d6e6;
      margin-left: 5.3px;
    }
  }
  .timeline {
    .card {
      // border-radius: 0;
      margin-top: 2rem;
      width: 600px;
      min-height: 140px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      
      border-bottom: 3.5px solid $secondary;
      &:nth-child(2n) {
        border-bottom: 3.5px solid $primary;
      }
      transition: all 0.5s ease-in;
      transition-timing-function: linear;
      transition-delay: 0;
      background-image: repeating-linear-gradient(135deg, rgba(118,118,118, 0.04) 0px, rgba(118,118,118, 0.04) 2px,transparent 2px, transparent 4px),linear-gradient(0deg, rgb(255,255,255),rgb(255,255,255));
      &:hover {
        color: white !important;
        background-image: repeating-linear-gradient(135deg, rgba(255,255,255,0.04) 0px, rgba(255,255,255,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(0deg, rgb(255,26,17),rgb(255,26,17));
        .container {
          .time {
            font-weight: 400;
            color: white !important;
          }
          .title {
            color: white !important;
          }
        }
        &:nth-child(2n) {
          background: repeating-linear-gradient(135deg, rgba(255,255,255,0.04) 0px, rgba(255,255,255,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(0deg, rgb(6,72,143),rgb(6,72,143));
        }
      }
      .container {
        padding: 2rem 2rem;
        .time {
          font-weight: 400;
          color: rgb(99, 99, 99);
        }
        .title {
          padding-top: 1rem;
          span {
            display: block;
            font-size: 1rem;
            font-weight: 400;
          }
        }
        .button-register {
          position: absolute;
          float: right;
          top: 0;
          align-items: center;
          // bottom: 50px;
          right: 0;
          button {
            color: white;
            font-weight: 500;
            padding: 0.5rem 1rem;
            background: $secondary;
            border: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .cards {
    // flex-direction: column;
    // justify-content: space-evenly;
    .lines {
      // margin-right:20px;
      display: none;
      // margin-top:6px;
    }
    .timeline {
      .card {
        width: 350px;
        min-height: 120px;
        .container {
          padding: 1rem 1rem;
          .time {
            font-weight: 400;
            color: rgb(99, 99, 99);
          }
          .title {
            padding-top: 1rem;
            span {
              display: block;
              font-size: 1rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
