<section class="section program-schedule ">
  <div class="container">
    <div class="">
      <figure class="hero-image image">
        <img
          class="shake-slow"
          src="../assets/23.png"
          width="50px"
          height="50px"
        />
      </figure>
      <h1 class="title is-size-1 has-text-centered">Program Schedule</h1>
      <p class="subtitle is-size-6 has-text-centered has-text-weight-light">
        Far far away
      </p>

      <mat-tab-group dynamicHeigh animationDuration="1000ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event</mat-icon>
            Day 1
          </ng-template>
          <div class="date-container">
            <div class="date">
              <h1>18<sup>th</sup> June</h1>
            </div>
          </div>
          <div class="columns">
            <div class="cards">
              <div class="lines">
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
              </div>
              <div class="timeline">
                <div class="card">
                  <div class="container">
                    <h6 class="time">6.30 - 7.00 PM</h6>
                    <h1 class="title">Inaugration Ceromony</h1>
                  </div>
                </div>

                <div class="card">
                  <div class="container">
                    <h6 class="time">7.00 - 7.30 PM</h6>
                    <h1 class="title">Vinay Menon - E-Talk</h1>
                    <div class="button-register">
                      <button>
                      Register
                      </button>
                    </div>
               
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event</mat-icon>
            Day 2
          </ng-template>

          <div class="date-container">
            <div class="date">
              <h1>19<sup>th</sup> June</h1>
            </div>
          </div>
          <div class="columns">
            <div class="cards">
              <div class="lines">
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
              </div>
              <div class="timeline">
                <div class="card">
                  <div class="container">
                    <h6 class="time">9.00 AM</h6>
                    <h1 class="title">Digital Holmes</h1>
                    <div class="button-register">
                      <button>
                      Register
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="container">
                    <h6 class="time">10:00AM - 12:00 PM</h6>
                    <h1 class="title">
                      G.O.A.T
                      <span> Aptitude Test </span>
                    </h1>
                    <div class="button-register">
                      <button>
                      Register
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="container">
                    <h6 class="time">3:30 PM - 6:00 PM</h6>
                    <h1 class="title">
                      G.O.A.T
                      <span> Extempore Round </span>
                    </h1>
                  </div>
                </div>

                <div class="card">
                  <div class="container">
                    <h6 class="time">7:00 PM - 8:00 PM</h6>
                    <h1 class="title">Bridge</h1>
                    <div class="button-register">
                      <button>
                      Register
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event</mat-icon>
            Day 3
          </ng-template>

          <div class="date-container">
            <div class="date">
              <h1>20<sup>th</sup> June</h1>
            </div>
          </div>
          <div class="columns">
            <div class="cards">
              <div class="lines">
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
              </div>
              <div class="timeline">
                <div class="card">
                  <div class="container">
                    <h6 class="time">9.00 AM - 9.30 AM</h6>
                    <h1 class="title">Talk session 1</h1>
                    <div class="button-register">
                      <button>
                      Register
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="container">
                    <h6 class="time">9.00 AM - 9.30 AM</h6>
                    <h1 class="title">Talk Session 2</h1>
                    <div class="button-register">
                      <button>
                      Register
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="container">
                    <h6 class="time">9.00 AM - 9.30 AM</h6>
                    <h1 class="title">Networking Session</h1>
                    <div class="button-register">
                      <button>
                      Register
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="container">
                    <h6 class="time">10.00 AM - 12.00 PM</h6>
                    <h1 class="title">
                      G.O.A.T
                      <span>Final Interview </span>
                    </h1>
                  </div>
                </div>

                <div class="card">
                  <div class="container">
                    <h6 class="time">10.00 AM - 12.00 PM</h6>
                    <h1 class="title">
                      Bazzinga
                   
                    </h1>
                    <div class="button-register">
                      <button>
                      Register
                      </button>
                    </div>
                  </div>
                </div>
                

                <div class="card">
                  <div class="container">
                    <h6 class="time">12.00 PM</h6>
                    <h1 class="title">
                      Digital Holmes
                    </h1>
                    <div class="button-register">
                      <button>
                      Register
                      </button>
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="container">
                    <h6 class="time">4.00 PM - 6.00 PM</h6>
                    <h1 class="title">
                      Feliciataion
                    </h1>
                    <div class="button-register">
                      <button>
                      Register
                      </button>
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
