<section class="section program-schedule" id="schedule">
  <div class="container">
    <div class="">
      <figure class="hero-image image">
        <img
          class="shake-slow"
          src="../assets/23.png"
          width="50px"
          height="50px"
        />
      </figure>
 
      <div class="program-heading">
        <p>#overview</p>
        <h1>Program Schedule</h1>
       </div>

      <mat-tab-group dynamicHeigh animationDuration="1000ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event</mat-icon>
            Day 1
          </ng-template>
          <div class="date-container">
            <div class="date">
              <h1>18<sup>th</sup> June</h1>
            </div>
          </div>
          <div class="columns">
            <div class="cards">
              <div class="lines">
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
              </div>
              <div class="timeline">
                <div class="card" *ngFor="let item of day1">
                  <div class="container">
                    <h6 class="time">{{item.time}}</h6>
                    <h1 class="title">{{item.title}}
                      <span *ngIf="item.subtitle">{{item.subtitle}}</span>
                    </h1>
                    <!-- <div class="button-register" *ngIf="item.register">
                      <button (click)="eventDetails(item)">
                      Register
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event</mat-icon>
            Day 2
          </ng-template>

          <div class="date-container">
            <div class="date">
              <h1>19<sup>th</sup> June</h1>
            </div>
          </div>
          <div class="columns">
            <div class="cards">
              <div class="lines">
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
              </div>
              <div class="timeline">
                <div class="card" *ngFor="let item of day2">
                  <div class="container">
                    <h6 class="time">{{item.time}}</h6>
                    <h1 class="title">{{item.title}}
                      <span *ngIf="item.subtitle">{{item.subtitle}}</span>
                    </h1>
                    <!-- <div class="button-register" *ngIf="item.register">
                      <button (click)="eventDetails(item)">
                      Register
                      </button>
                    </div> -->
                  </div>
                </div>

               

              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event</mat-icon>
            Day 3
          </ng-template>

          <div class="date-container">
            <div class="date">
              <h1>20<sup>th</sup> June</h1>
            </div>
          </div>
          <div class="columns">
            <div class="cards">
              <div class="lines">
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
                <div class="line"></div>
                <div class="dot"></div>
              </div>
              <div class="timeline">
                <div class="card" *ngFor="let item of day3">
                  <div class="container">
                    <h6 class="time">{{item.time}}</h6>
                    <h1 class="title">{{item.title}}</h1>
                    <!-- <div class="button-register" *ngIf="item.register">
                      <button  (click)="eventDetails(item)">
                      Register
                      </button>
                    </div> -->
                  </div>
                </div>

                
                
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
