<section class="section" id="speakers">
    <div class="container">
      <div class="speakers-heading">
        <!-- <p>#WHO HELP US</p> -->
        <h1>Speakers</h1>
       </div>
    </div>


    <div class="item-grid">
      

      <div class="item"  data-aos="fade-right">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623519049/asme/769b8e56-6516-4d4a-bf18-a360871e70e4_qeqsxh.jpg" loading="lazy"  alt="" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Maitreyan
              </h2>
            <p class="item-text-dek">Activist & Thinker</p>
          </div>
        </div>
       
      </div>


      
      <div class="item"  data-aos="fade-left">
        <div class="item-image" >
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623160962/asme/05_itktrl.png" loading="lazy" alt="Dr. Hanna Paulose" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            <h2 class="item-text-title">Dr. Hanna Paulose</h2>
            <p class="item-text-dek">Impact Evaluation Officer<br>UN - World Food Programme</p>
         
          </div>
        </div>
        <!-- <a class="item-link" href="https://dribbble.com/shots/2974913-Home">New Stripe Homepage</a> -->
      </div>

      <div class="item"  data-aos="fade-right">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623518841/asme/WhatsApp_Image_2021-06-12_at_10.56.39_PM_leo4py.jpg" loading="lazy" alt="Dr Muralee Thummarukudy" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Dr Muralee Thummarukudy</h2>
            <p class="item-text-dek">Cheif of Disaster Risk Reduction
               <br>UNEP</p>
          </div>
        </div>
       
      </div>

      <div class="item"  data-aos="fade-left">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623519276/asme/WhatsApp_Image_2021-06-12_at_11.03.37_PM_ptjb9w.jpg" loading="lazy" alt="Jim Jacob" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Jim Jacob</h2>
            <p class="item-text-dek">Music Composer</p>
          </div>
        </div>
       
      </div>

      <div class="item"  data-aos="fade-right">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623155900/asme/IMG_20210608_180701_cvttzr.jpg" loading="lazy" alt="Ronith Stanly" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Ronith Stanly</h2>
            <p class="item-text-dek">PHD Student <br> KTH Royal Institute of Technology 
              Stockholm, Stockholm County, Sweden</p>
          </div>
        </div>
       
      </div>
      
      <div class="item"  data-aos="fade-left">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623155900/asme/IMG_20210608_180351_ow4eys.jpg" loading="lazy" alt="Bibin Sagaram S" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">

            <h2 class="item-text-title">Bibin Sagaram S</h2>
            <p class="item-text-dek">YOUTUBER</p>
          </div>
        </div>
        <!-- <a class="item-link" href="https://dribbble.com/shots/2958133-Facebook-in-material-design">Ligula Ridiculus Tortor</a> -->
      </div>
       


        
       <div class="item"  data-aos="fade-right">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623653576/asme/WhatsApp_Image_2021-06-13_at_5.09.21_PM_zqmgzx.jpg" alt="" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Anuradha Krishnan</h2>
            <p class="item-text-dek">Cofounder - Queerythm <br>(LGBTQIA+ organization)</p>
          </div>
        </div>
       
      </div>  
      
      

      <div class="item"  data-aos="fade-left">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623654426/asme/124_t7rupe.jpg" alt="" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Vinay Menon</h2>
            <p class="item-text-dek">Stand-up Comedian</p>
          </div>
        </div>
       
      </div>  


      <div class="item"  data-aos="fade-right">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623654426/asme/434235_iv8nym.jpg" alt="" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Asif S Thaha</h2>
            <p class="item-text-dek">Executive Committee Member - queerythm<br>(LGBTQIA+ organization)</p>
          </div>
        </div>
       
      </div>  
   
 
   
    </div>
   
   
  
      
      
     
  </section>
  
  