<section class="section" id="speakers">
    <div class="container">
      <div class="speakers-heading">
        <!-- <p>#WHO HELP US</p> -->
        <h1>Speakers</h1>
       </div>
    </div>


    <div class="item-grid">
  
      <div class="item"  data-aos="fade-right">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623155900/asme/IMG_20210608_180351_ow4eys.jpg" loading="lazy" alt="Bibin Sagaram S" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">

            <h2 class="item-text-title">Bibin Sagaram S</h2>
            <p class="item-text-dek">YOUTUBER</p>
          </div>
        </div>
        <!-- <a class="item-link" href="https://dribbble.com/shots/2958133-Facebook-in-material-design">Ligula Ridiculus Tortor</a> -->
      </div>
      
      <div class="item"  data-aos="fade-left">
        <div class="item-image" >
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623160962/asme/05_itktrl.png" loading="lazy" alt="Dr. Hanna Paulose" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            <h2 class="item-text-title">Dr. Hanna Paulose</h2>
            <p class="item-text-dek">Impact Evaluation Officer<br>UN - World Food Programme</p>
         
          </div>
        </div>
        <!-- <a class="item-link" href="https://dribbble.com/shots/2974913-Home">New Stripe Homepage</a> -->
      </div>
      
      <div class="item"  data-aos="fade-right">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623155900/asme/IMG_20210608_180701_cvttzr.jpg" loading="lazy" alt="Ronith Stanly" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Ronith Stanly</h2>
            <p class="item-text-dek">PHD Student <br> KTH Royal Institute of Technology 
              Stockholm, Stockholm County, Sweden</p>
          </div>
        </div>
       
      </div>


   
      <!-- <div class="item"  data-aos="fade-right">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623155900/asme/IMG_20210608_180701_cvttzr.jpg" alt="" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Ronith Stanly</h2>
            <p class="item-text-dek">PHD Student <br> KTH Royal Institute of Technology 
              Stockholm, Stockholm County, Sweden</p>
          </div>
        </div>
       
      </div>



       
      <div class="item"  data-aos="fade-right">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623155900/asme/IMG_20210608_180701_cvttzr.jpg" alt="" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Ronith Stanly</h2>
            <p class="item-text-dek">PHD Student <br> KTH Royal Institute of Technology 
              Stockholm, Stockholm County, Sweden</p>
          </div>
        </div>
       
      </div>




       
      <div class="item"  data-aos="fade-right">
        <div class="item-image">
          <img src="https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1623155900/asme/IMG_20210608_180701_cvttzr.jpg" alt="" />
        </div>
        <div class="item-text">
          <div class="item-text-wrapper">
            
            <h2 class="item-text-title">Ronith Stanly</h2>
            <p class="item-text-dek">PHD Student <br> KTH Royal Institute of Technology 
              Stockholm, Stockholm County, Sweden</p>
          </div>
        </div>
       
      </div>
        -->
   
 
   
    </div>
   
   
  
      
      
     
  </section>
  
  