<section class="section keynote">
    <div class="container">
      <div class="columns is-centered mb-6">
        <div class="column " >
      <h1 class="title is-size-1">Speakers</h1>
      <p class=" is-size-6 has-text-weight-light">Far far away</p>
      </div>
    </div>
    </div>
    <div class="speakers">
   
  
      
      
      <div class="speaker">
        <div class="speaker-img">
         
          <img src="../assets/image.jpg" alt="">
          <div class="text-block">
            <h3 class="speaker-name">Harold May</h3>
            <p class="speaker-designation">Product Designer</p>
          </div>
         
        </div>
     
      </div>
      <div class="speaker">
        <div class="speaker-img">
         
          <img src="../assets/image.jpg" alt="">
          <div class="text-block">
            <h3 class="speaker-name">Harold May</h3>
            <p class="speaker-designation">Product Designer</p>
          </div>
         
        </div>
     
      </div>
      <div class="speaker">
        <div class="speaker-img">
         
          <img src="../assets/image.jpg" alt="">
          <div class="text-block">
            <h3 class="speaker-name">Harold May</h3>
            <p class="speaker-designation">Product Designer</p>
          </div>
         
        </div>
     
      </div>
      <div class="speaker">
        <div class="speaker-img">
         
          <img src="../assets/image.jpg" alt="">
          <div class="text-block">
            <h3 class="speaker-name">Harold May</h3>
            <p class="speaker-designation">Product Designer</p>
          </div>
         
        </div>
     
      </div>
    </div>
  </section>
  
  