<section class="section" id="events">

<div class="container">
  <div class="event-heading">
    <!-- <p>#overview</p> -->
    <h1>Events</h1>
   </div>
</div>


<div class="container-cards">
<div class="container-card">
    <span *ngFor="let item of events" >
    <div class="card-box" *ngIf="item.active">
      <div class="card-img" >
        <img [src]=item.img alt="" data-aos="flip-left">
      </div>
      <div class="card-content">
        <span>{{item.title}}</span>
        <p class="date">{{item.day}}<sup>th</sup> {{item.time}}</p>
        <p>{{item.short}}</p>
        <a class="link" (click)="eventDetails(item)">More Details-></a>
      </div>
  
    </div>
  </span>

 
  </div>
</div>
</section>