<div class="container">
    <h1>Events</h1>
</div>
<div class="container-cards">
<div class="container">
   
    <div class="card-box">
      <div class="card-img">
        <img src="../../../assets/no-connection-6.png" alt="">
      </div>
      <div class="card-content">
        <span>E - Talk Vinay Menon</span>
        <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae exercitationem magni eius nesciunt deleniti incidunt nemo tempora sapiente. Velit, nisi unde nemo harum suscipit quasi?</a></p>
      </div>
  
    </div>

    <div class="card-box">
        <div class="card-img">
          <img src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        </div>
        <div class="card-content">
          <span>sponsored</span>
          <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae exercitationem magni eius nesciunt deleniti incidunt nemo tempora sapiente. Velit, nisi unde nemo harum suscipit quasi?</a></p>
        </div>
    
      </div>
    <div class="card-box">
      <div class="card-img">
        <img src="https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
      </div>
      <div class="card-content">
        <span>sponsored</span>
        <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae exercitationem magni eius nesciunt deleniti incidunt nemo tempora sapiente. Velit, nisi unde nemo harum suscipit quasi?</a></p>
      </div>
  
    </div>
    <div class="card-box">
      <div class="card-img">
        <img src="https://images.pexels.com/photos/1036936/pexels-photo-1036936.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
      </div>
      <div class="card-content">
        <span>sponsored</span>
        <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae exercitationem magni eius nesciunt deleniti incidunt nemo tempora sapiente. Velit, nisi unde nemo harum suscipit quasi?</a></p>
      </div>
  
    </div>
  </div>
</div>