@import '../../../main-style.scss';
.sponsor {
    // color: white;
    // background: $primary;
    .logo{
      // background: $primary;
      margin: 1.5rem 0.5rem;
      // padding: 2rem 0rem;
    img {
      height: 90px;
      width: auto;
      margin: auto;
      // filter: brightness(0) invert(1);
      transition: all 0.2s  ease-in;
      
      &:hover {
        // filter: brightness(1) invert(0);
      }
    }
 
}
  }

  .sponors-heading{
   
    h1{
        font-size: 3rem;
        font-weight: 600;
        color: black;
    }
    p{
     font-weight: 300;
    }
  }

  
  @media only screen and (max-width: 768px) {

    .sponors-heading{
   
      h1{
          font-size: 2rem !important;
      }
    }

}