

<section class="section is-bold is-small sponsor" id="sponsors">
    <div class="container">
      <div class="sponors-heading">
        <!-- <p>#WHO HELP US</p> -->
        <h1>Our Sponsors</h1>
       </div>
</div>
  
    <div class="columns  is-vcentered is-multiline is-centered pt-6">
  
  
  
     <div class="column is-multiline is-3 "  data-aos="fade-up" *ngFor="let item of logos"> 
       <div class="logo">
        <img [src]=item class="image " loading="lazy" alt="logo" />
       </div>
 
     </div>
  
   
  
    </div>
  
  

  </section>