

<section class="section is-bold is-small sponsor">
    <div class="container">
      <div class="columns is-centered">
      <div class="column">
  
      <h1 class="">
        <span class="is-size-6 has-text-weight-light">WHO HELPS US</span> <br><span class="is-size-1 has-text-weight-bold" >Our  Sponsors</span></h1>
    </div>
    </div>
</div>
  
    <div class="columns  is-vcentered is-multiline is-centered pt-6" [ngsRevealSet]="{ reset:true}" [ngsInterval]="450" [ngsSelector]="'.logo'">
  
  
  
     <div class="column is-3 logo">
      <img src="../../../assets/SJCET TYPO PNG.png" class="image
      " />
     </div>
  
     <div class="column is-3 logo">
      <img src="../../../assets/SJCET TYPO PNG.png" class="image
      " />
     </div>
  
     <div class="column is-3 logo">
      <img src="../../../assets/SJCET TYPO PNG.png" class="image
      " />
     </div>

     <div class="column is-3 logo">
        <img src="../../../assets/SJCET TYPO PNG.png" class="image
        " />
       </div>
  
  
    </div>
  
  

  </section>