

<section class="section is-bold is-small sponsor" id="sponsors">
    <div class="container">
      <div class="sponors-heading">
        <p>#WHO HELP US</p>
        <h1>Our Sponors</h1>
       </div>
</div>
  
    <div class="columns  is-vcentered is-multiline is-centered pt-6" [ngsRevealSet]="{ reset:true}" [ngsInterval]="450" [ngsSelector]="'.logo'">
  
  
  
     <div class="column is-3 logo">
      <img src="../../../assets/SJCET TYPO PNG.png" class="image
      " />
     </div>
  
     <div class="column is-3 logo">
      <img src="../../../assets/SJCET TYPO PNG.png" class="image
      " />
     </div>
  
     <div class="column is-3 logo">
      <img src="../../../assets/SJCET TYPO PNG.png" class="image
      " />
     </div>

     <div class="column is-3 logo">
        <img src="../../../assets/SJCET TYPO PNG.png" class="image
        " />
       </div>
  
  
    </div>
  
  

  </section>