@import '../../../main-style.scss';

.navbar {

*{
    transition: background 0.1s ease-out;   
}
  &-toggle {
    display: none;
  }
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  // background-color: gray;
  background: transparent;
  position: absolute;
 

  padding: 1.5rem 6rem;
  &-logo {
    width: 120px;  
    filter:  brightness(0) invert(1) drop-shadow(1px 1px 1px rgb(78, 78, 78));
  }
  &-items {
    width: 60%;

    // float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    li {
      font-size: 0.9rem;
      font-weight: 400;
      color: rgb(255, 255, 255);
      &:hover {
        border-bottom: 3px solid $secondary;
      }
    }
    &-button {
      padding: 0.5rem 1.4rem;
      // background: $secondary;
      background: transparent;
      border:2px solid $secondary;
      box-shadow: none;
      border-radius: 4px;
      transition: all 0.3s ease-in;
      &:hover{
        background: $secondary;
        color: white !important;
      }
      // border: none;
      font-weight: 600;
      color: white;
    }
  }
}

.sticky {
  position: fixed;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem 2rem;
  opacity: 0.9;
  .navbar {
    &-logo {
      width: 100px;  
      filter:  brightness(1) invert(0) drop-shadow(1px 1px 1px rgb(78, 78, 78));
    }
   
    &-items {
      &-button {
        color: black;
      }
      li {
        cursor: pointer;
        font-weight: 500;
        color: #111111;
        list-style: none;
        // color: #3423a6;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .sticky {
    // background: white !important;
  }
  .navbar {
    justify-content: left;
    padding: 1rem 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: black;

    padding: 0;
    .bg {
      background: white;
    }
    &-toggle {
      display: block;
      float: left;
      cursor: pointer;
      transition: all 0.7s ease;
      width: 42px;
      height: 42px;
      border-radius: 5px;
      background: white;
      padding: 0.5rem 0.5rem;
      margin: 1rem 1rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    &-items {
      display: none;
      height: 100vh;
      padding: 2rem 2rem;
      width: 100%;
      color: black;

      flex-direction: column;
      // align-items: stretch;
      li {
        font-size: 1.1rem;
        font-weight: 400;
        color: white !important;
      }
      &-button {
        align-items: center;
        // padding: 1rem 2rem !important;
        font-size: 1.2rem;
      }
    }
    &-logo {
      // display: none;
      width: 120px;
      margin: 1rem 1rem;
    }
    
  }
  .sticky {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0rem 0rem;
    opacity: 0.9;
    .navbar {
      background: $primary;
      &-toggle {
        background: $primary;
      }
  
      &-logo{
        width: 100px !important; 
        filter: brightness(1) invert(0) ;
      }
    }
}
}

.navbar-mob {
  // background: white;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  height: 100vh;
  .navbar {
    flex-direction: column !important;
    &-items {
      display: flex;
      animation-name: display;
      animation-duration: 4s;
      animation-fill-mode: forwards;
    }
    &-logo{
      display: none;
    }
    
  }


}

@keyframes example {
  from {
    background-color: $primary;
    opacity: 0.3;
    height: 10vh;
    width: 10%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
  }
  to {
    background-color: $primary;
    height: 100vh;
    opacity: 1;
    width: 100%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;

  }
}

@keyframes display {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
        
    }
  }

  .active{
    color: red;
  }