<nav
  class="navbar"
  [ngClass]="{ 'sticky': isSticky,'navbar-mob': toggle }"
  [ngStyle]="{'flex-direction': toggle ? 'column' : 'row' }"

 
 
>
  <div class="navbar-toggle">
    <img *ngIf="!isSticky" (click)="menuToggle()" src="../../../assets/menu2.png" alt="" />
    <img *ngIf="isSticky" (click)="menuToggle()" src="../../../assets/menu.png" alt="" />
  </div>
  <div class="navbar-logo">
    <img  src="../../../assets/Yugmalatest.png" alt="" />
  </div>
  <ul class="navbar-items">
   <a routerLink="/" fragment="home"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> <li class="item" >Home</li></a>
   <a routerLink="/" fragment="about"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> <li class="item" >About</li></a> 
   <a routerLink="/" fragment="schedule"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> <li class="item">Schedule</li></a>
   <a routerLink="/" fragment="speakers"  routerLinkActive="active"><li class="item">Speakers</li></a>
   <a routerLink="/" fragment="sponsors"  routerLinkActive="active"> <li class="item">Sponsors</li></a>

   <a routerLink="/" fragment="events"> <button class="navbar-items-button">Register Now</button></a>
    
  </ul>
</nav>
