<section class="hero is-white is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">

  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body hero1">
    <div class="container">
      <div class="columns is-center is-vcentered">
        <div class="column">
          <h1 class="ml11">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">Digital Conference<br> For Designers</span>
            </span>
          </h1>
          <div class="columns dateinformation">
          <div class="column">

          </div>
          <div class="column">

          </div>
        </div>
        </div>

        <div class="column">
          <img src="../assets/hero.png" class="image rotate-scale-up" width="500px" height="500px">
        </div>
      </div>

    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <!-- <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Modifiers</a></li>
          <li><a>Grid</a></li>
          <li><a>Elements</a></li>
          <li><a>Components</a></li>
          <li><a>Layout</a></li>
        </ul>
      </div>
    </nav>
  </div> -->
</section>


<section class="section mt-6 mb-6 event-date " >
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
    <h1 class="title has-text-weight-bold has-text-centered-mobile tracking-in-contract" style="font-size: 5rem;" ngsReveal><strong>Event On
       </strong></h1>
    <h2 class="subtitle is-size-4 has-text-centered-mobile">
      March 25, 2021
    </h2>
  </div>


   <div class="column"  [ngsRevealSet]="{ reset:true}" [ngsInterval]="250" [ngsSelector]="'.level-item'">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading is-size-6">Days</p>
        <p class="title is-size-1 is-size-2-mobile ">{{diffInDays}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading is-size-6">Hours</p>
        <p class="title is-size-1 is-size-2-mobile ">{{hour}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading is-size-6">Minutes</p>
        <p class="title is-size-1 is-size-2-mobile ">{{minutes}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading is-size-6">Seconds</p>
        <p class="title is-size-1 is-size-2-mobile ">{{seconds}}</p>
      </div>
    </div>
  </nav>
</div>
</div>
</div>
</section>






<section class="section keynote">
  <div class="container">
    <div class="columns is-centered pt-6">
      <div class="column">
    <h1 class="title is-size-1">Keynote Speakers</h1>
    <p class=" is-size-6 has-text-weight-light">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
    </div>
  </div>
  <div class="swiper-container pt-6 mt-6">

    <div class="swiper-wrapper">

      <div class="swiper-slide">

        <figure class="image ">
          <img class="is-rounded" src="https://thispersondoesnotexist.com/image">
        </figure>
        <h1 class="title has-text-centered is-size-5  pt-4">Santhosh Thomas</h1>
        <h1 class="subtitle has-text-centered is-size-6  has-text-weight-light pt-3">Product Designer</h1>
      </div>

      <div class="swiper-slide">

        <figure class="image ">
          <img class="is-rounded" src="https://thispersondoesnotexist.com/image">
        </figure>
        <h1 class="title has-text-centered is-size-5  pt-4">Santhosh Thomas</h1>
        <h1 class="subtitle has-text-centered is-size-6  pt-3">Product Designer</h1>
      </div>
      <div class="swiper-slide">
        <figure class="image ">
          <img class="is-rounded" src="https://thispersondoesnotexist.com/image">
        </figure>
        <h1 class="title has-text-centered is-size-5  pt-4">Santhosh Thomas</h1>
        <h1 class="subtitle has-text-centered is-size-6  pt-3">Product Designer</h1>
      </div>
      <div class="swiper-slide">
        <figure class="image ">
          <img class="is-rounded" src="https://thispersondoesnotexist.com/image">
        </figure>
        <h1 class="title has-text-centered is-size-5  pt-4">Santhosh Thomas</h1>
        <h1 class="subtitle has-text-centered is-size-6  pt-3">Product Designer</h1>
      </div>
      <div class="swiper-slide">
        <figure class="image ">
          <img class="is-rounded" src="https://thispersondoesnotexist.com/image">
        </figure>
        <h1 class="title has-text-centered is-size-5  pt-4">Santhosh Thomas</h1>
        <h1 class="subtitle has-text-centered is-size-6  pt-3">Product Designer</h1>
      </div>
      <div class="swiper-slide">
        <figure class="image ">
          <img class="is-rounded" src="https://thispersondoesnotexist.com/image">
        </figure>
        <h1 class="title has-text-centered is-size-5  pt-4">Santhosh Thomas</h1>
        <h1 class="subtitle has-text-centered is-size-6  pt-3">Product Designer</h1>
      </div>


    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  </div>
</section>





<section class="section is-medium has-background-danger mt-6 event-count" >
  <div class="container">
    <div class="columns is-vcentered">


   <div class="column"  [ngsRevealSet]="{ reset:true}" [ngsInterval]="250" [ngsSelector]="'.level-item'">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>

        <p class="title is-size-1 is-size-4-mobile has-text-white ">{{diffInDays}}+</p>
        <p class=" is-size-4">Speakers</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>

        <p class="title is-size-1 is-size-4-mobile  has-text-white">{{hour}}+</p>
        <p class=" is-size-4">Sponsors</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>

        <p class="title is-size-1 is-size-4-mobile  has-text-white">{{minutes}}+</p>
        <p class=" is-size-4">Workshops </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>

        <p class="title is-size-1 is-size-4-mobile  has-text-white">{{seconds}}+</p>
        <p class=" is-size-4">Event Participants</p>
      </div>
    </div>
  </nav>
</div>
</div>
</div>
</section>

<section class="section  mt-6" >
  <div class="container">
    <div class="columns is-vcentered is-centered">
      <div class="column is-one-third">
        <figure class="image is-horizontal-center">
        <img class="shake-slow" src="../assets/hero3.png"  width="300px" height="300px">
      </figure>
      <h1 class="title  is-size-1 has-text-centered">Program Schedule</h1>
      <p class="subtitle is-size-6 has-text-centered  has-text-weight-light">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
  </div>

  <div class="column" [ngsRevealSet]="{ reset:true}" [ngsInterval]="450" [ngsSelector]="'.event'">
    <mat-tab-group  >
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">event</mat-icon>
          Day 1
        </ng-template>

        <div class="card event">

          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
              </div>
              <div class="">
                <p class="subtitle is-6">08:00AM - 10:00AM</p>
                <p class="title is-3 has-text-link is-size-5-mobile">Introduction to Wordpress 5.0</p>
                <p class="subtitle is-5 is-size-6-mobile has-text-danger">- Brett Morgan</p>
              </div>
              <div class="media-right is-hidden-touch"  style="float: right; margin: auto;">
                <button class="button is-danger is-rounded ">Register</button>
              </div>

            </div>

           <div class="media-right is-hidden-desktop"  style="margin: auto; float: right;">
                <button class="button is-danger is-rounded ">Register</button>
              </div>
          </div>

        </div>


        <div class="card event">

          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
              </div>
              <div class="">
                <p class="subtitle is-6">08:00AM - 10:00AM</p>
                <p class="title is-3 has-text-link is-size-5-mobile">Introduction to Wordpress 5.0</p>
                <p class="subtitle is-5 is-size-6-mobile has-text-danger">- Brett Morgan</p>
              </div>
              <div class="media-right is-hidden-touch"  style="float: right; margin: auto;">
                <button class="button is-danger is-rounded ">Register</button>
              </div>

            </div>

           <div class="media-right is-hidden-desktop"  style="margin: auto; float: right;">
                <button class="button is-danger is-rounded ">Register</button>
              </div>
          </div>

        </div>

         <div class="card event">

          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
              </div>
              <div class="">
                <p class="subtitle is-6">08:00AM - 10:00AM</p>
                <p class="title is-3 has-text-link is-size-5-mobile">Introduction to Wordpress 5.0</p>
                <p class="subtitle is-5 is-size-6-mobile has-text-danger">- Brett Morgan</p>
              </div>
              <div class="media-right is-hidden-touch"  style="float: right; margin: auto;">
                <button class="button is-danger is-rounded ">Register</button>
              </div>

            </div>

           <div class="media-right is-hidden-desktop"  style="margin: auto; float: right;">
                <button class="button is-danger is-rounded ">Register</button>
              </div>
          </div>

        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">event</mat-icon>
          Day2
        </ng-template>
       dfff
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">event</mat-icon>
          Day 3
        </ng-template>

        Content 3
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
</div>
</section>


<section class="section is-bold has-background-white is-medium sponsor">
  <div class="container">
    <div class="columns is-centered">
    <div class="column">

    <h1 class="">
      <span class="is-size-6 has-text-weight-light">WHO HELPS US</span> <br><span class="is-size-1 has-text-weight-bold" >Our  Sponsors</span></h1>
  </div>
  </div>


  <div class="columns is-mobile is-vcentered is-multiline is-centered pt-6" [ngsRevealSet]="{ reset:true}" [ngsInterval]="450" [ngsSelector]="'.logo'">



   <div class="column logo p-6">
    <img src="https://pngimg.com/uploads/google/google_PNG19635.png" class="image
    " />
   </div>

   <div class="column logo  p-6">
    <img src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-standard.png" class="image
    " />
   </div>

   <div class="column logo  p-6">
    <img src="https://1000logos.net/wp-content/uploads/2018/05/Gmail-logo.png" class="image
    " />
   </div>


  </div>


  </div>
</section>



  <section class="section mt-6 mb-6 ">
    <div class="columns is-vcentered">
      <div class="column">
      </div>

<div class="column">

  <div class="card event">

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <i class="fas fa-map-marked-alt"></i>
        </div>
        <div class="">
          <p class="subtitle is-6">Address</p>
          <p class="title is-5 has-text-link">198 West 21th Street, Suite 721 New York NY 10016</p>
          <!-- <p class="subtitle is-5 has-text-danger">- Brett Morgan</p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="card event">

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <i class="fas fa-address-book"></i>
        </div>
        <div class="">
          <p class="subtitle is-6">Contact Number</p>
          <p class="title is-5 has-text-link">+ 1235 2355 98</p>
          <!-- <p class="subtitle is-5 has-text-danger">- Brett Morgan</p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="card event">

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <i class="fas fa-paper-plane"></i>
        </div>
        <div class="">
          <p class="subtitle is-6">Email Address</p>
          <p class="title is-5 has-text-link">info@yoursite.com</p>
          <!-- <p class="subtitle is-5 has-text-danger">- Brett Morgan</p> -->
        </div>

      </div>
    </div>
  </div>
</div>

</div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Designed And Developed</strong> by <a href="https://jgthms.com">Santhosh Thomas</a>.
    </p>
  </div>
</footer>
