

  <section class="section mt-6 mb-6 details">
    <div class="columns is-vcentered is-centered">

      <div class="column">

        <img src="../../../assets/Yugmalatest.png" style="margin:auto" class="image " width="256px" height="256px">
        <br><br>

        <h1 class="has-text-centered">
          <span class="is-size-4 has-text-weight-Medium">Follow  US</span> <span class="is-size-1 has-text-weight-bold " > On</span></h1>

          <br><br>
          <div class="columns is-mobile is-centered">
            <div class="media-left">
              <i class="fab fa-facebook fa-2x has-text-danger"></i>
            </div>
            <div class="media-left">
              <i class="fab fa-instagram-square fa-2x has-text-danger"></i>
            </div>
            <div class="media-left">
              <i class="fab fa-linkedin fa-2x has-text-danger"></i>
            </div>
          </div>

      </div>


<div class="column">


  <div class="card event">

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <i class="fas fa-address-book"></i>
        </div>
        <div class="">
          <p class="subtitle is-6">Contact Number</p>
          <p class="title is-5 ">+ 1235 2355 98</p>
          <!-- <p class="subtitle is-5 has-text-danger">- Brett Morgan</p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="card event">

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <i class="fas fa-paper-plane"></i>
        </div>
        <div class="">
          <p class="subtitle is-6">Email Address</p>
          <p class="title is-5 ">info@yoursite.com</p>
          <!-- <p class="subtitle is-5 has-text-danger">- Brett Morgan</p> -->
        </div>

      </div>
    </div>
  </div>
</div>

</div>
</section>