<section class="section event-details">


   
    <div class="container event-detail">
        
        <div class="columns">
            <div class="column">
                <div class="img-container">
                    <img [src]=item?.img1 [alt]="item?.title" loading="lazy">
                </div>
           
            </div>
            <div class="column is-6">
                <div class="event-container">
                    <div class="name">
                        <h1>
                          <span>{{item?.title}}</span>
                        </h1>
                        
                    </div>
                </div>
                <p [innerHTML]="item?.details"></p>
        
                <br><br>
                
<span class="high" *ngIf="item?.pdf">
    Rules and Regulations : <a [href]="item.pdf" download>Download</a>
    </span>
        <div class="register-button">
            <a
            href="https://www.yepdesk.com/embed/buy-tickets/60c07904c9e77c0001a4c256/private/euc4vg9rki"
            rel="noreferrer"
            target="_blank"
          >
            <button
            [disabled]="!item?.register"
            >{{item?.register == true ? 'Register Now' :'Registeration Closed'}}</button>
            </a>
        </div>
    
            </div>
        </div>

</div>
    
</section>