<section class="section event-details">


    <div class="event-container">
        <div class="name">
            <h1>
              <span>{{item?.title}}</span>
            </h1>
            
        </div>
    </div>
    <div class="container event-detail">
        
        <div class="columns is-vcentered">
            <div class="column">
                <div class="img-container">
                    <img [src]=item.img alt="">
                </div>
           
            </div>
            <div class="column is-6">
                <p [innerHTML]="item?.details"></p>
                
        <div class="register-button">
            <a
            [href]=item?.registrationLink
            rel="noreferrer"
            target="_blank"
          >
            <button
            [disabled]="!item?.register"
            >{{item?.register == true ? 'Register Now' :'Registeration Closed'}}</button>
            </a>
        </div>
    
            </div>
        </div>

</div>
    
</section>