<section class="section event-details">


   
    <div class="container event-detail">
        
        <div class="columns">
            <div class="column">
                <div class="img-container">
                    <img [src]=item?.img1 [alt]="item?.title" loading="lazy">
                </div>
           
            </div>
            <div class="column is-6">
                <div class="event-container">
                    <div class="name">
                        <h1>
                          <span>{{item?.title}}</span>
                        </h1>
                        
                    </div>
                </div>
                <p [innerHTML]="item?.details"></p>
                
        <div class="register-button">
            <a
            [href]=item?.registrationLink
            rel="noreferrer"
            target="_blank"
          >
            <button
            [disabled]="!item?.register"
            >{{item?.register == true ? 'Register Now' :'Registeration Closed'}}</button>
            </a>
        </div>
    
            </div>
        </div>

</div>
    
</section>