<section class="about section"  id="about">
  <div class="container" >

    <div class="about-heading" >
      <!-- <p>#overview</p> -->
      <h1>About</h1>
     </div>
    
     <div class="about-content">
       <p>
      YUGMA 2021 is a collective techno-cultural event of eleven ASME Student Sections across Kerala collaborating for the first time in solidarity with the social obligation and team spirit they possess.
      <br><br>
      The three-day-long technical extravaganza aims to build a strong structural student network and expand the knowledge curve by migrating knowledge, conceptualizing innovations, and creating vibrant experiences for students and early-career engineers.
      <br><br>
      As our tagline goes, YUGMA 2021 is an embellished ensemble of passion-driven volunteers putting their heart and soul into a celebration of learning. 
      <br><br>
      <span>
        So let’s raise a toast as we welcome you to our flagship event.
      </span>
      
      </p>
     
 </div>

 <div class="event-count" data-aos="fade-right">
<div class="event" >
  <img src="../../../assets/employee.png" class="icon" alt="">
  <h1 >{{speakers}}+</h1>
  <p class="e">Speakers</p>
</div>
<div class="event">|</div>
<div class="event">
  <img src="../../../assets/solution.png" class="icon" alt="">
  <h1 class="">{{sponors}}+</h1>
  <p class="e">Sponsors</p>
</div>
<div class="event">|</div>
<div class="event">
  <img src="../../../assets/event.png" class="icon" alt="">
  <h1 class="">{{events}}+</h1>
  <p class="e">Events</p>
</div>
 </div>


</div>
</section>
