<div class="hero is-medium about mt-6">
    <div class="columns is-vcentered">
        <div class="column">
            <h1 class="title">
                About YUGMA
            </h1>
           
        </div>
       
            
            <div class="column">
                <div class="about-container">
               YUGMA 2021 is an collective effort of 11 ASME student section across kerala aiming to build a strong structural student network and to expand knowledge curve by infusing both creative and technical learning
            <br><br>This extravagance also creates a platform for budding engineering to interact with technocrats and various industries and encourage them to apply their engineering knowledge in a purpose oriented manner.
              <br><br>      <span>So whats waiting for??? lets celebrate the spirit of coming together...</span>
        </div>
        </div>
        
    </div>
</div>