@import '../../../main-style.scss';
.about{
  animation: background 5s linear infinite alternate;
  animation-timing-function: ease-in-out;
    background-image: radial-gradient(
        circle at 29% 55%,
        hsla(329, 0%, 99%, 0.05) 0%,
        hsla(329, 0%, 99%, 0.05) 4%,
        transparent 4%,
        transparent 44%,
        transparent 44%,
        transparent 100%
      ),
      radial-gradient(
        circle at 85% 89%,
        hsla(329, 0%, 99%, 0.05) 0%,
        hsla(329, 0%, 99%, 0.05) 51%,
        transparent 51%,
        transparent 52%,
        transparent 52%,
        transparent 100%
      ),
      radial-gradient(
        circle at 6% 90%,
        hsla(329, 0%, 99%, 0.05) 0%,
        hsla(329, 0%, 99%, 0.05) 53%,
        transparent 53%,
        transparent 64%,
        transparent 64%,
        transparent 100%
      ),
      radial-gradient(
        circle at 35% 75%,
        hsla(329, 0%, 99%, 0.05) 0%,
        hsla(329, 0%, 99%, 0.05) 6%,
        transparent 6%,
        transparent 98%,
        transparent 98%,
        transparent 100%
      ),
      radial-gradient(
        circle at 56% 75%,
        hsla(329, 0%, 99%, 0.05) 0%,
        hsla(329, 0%, 99%, 0.05) 16%,
        transparent 16%,
        transparent 23%,
        transparent 23%,
        transparent 100%
      ),
      radial-gradient(
        circle at 42% 0%,
        hsla(329, 0%, 99%, 0.05) 0%,
        hsla(329, 0%, 99%, 0.05) 3%,
        transparent 3%,
        transparent 26%,
        transparent 26%,
        transparent 100%
      ),
      radial-gradient(
        circle at 29% 28%,
        hsla(329, 0%, 99%, 0.05) 0%,
        hsla(329, 0%, 99%, 0.05) 51%,
        transparent 51%,
        transparent 75%,
        transparent 75%,
        transparent 100%
      ),
      radial-gradient(
        circle at 77% 21%,
        hsla(329, 0%, 99%, 0.05) 0%,
        hsla(329, 0%, 99%, 0.05) 35%,
        transparent 35%,
        transparent 55%,
        transparent 55%,
        transparent 100%
      ),
      radial-gradient(
        circle at 65% 91%,
        hsla(329, 0%, 99%, 0.05) 0%,
        hsla(329, 0%, 99%, 0.05) 46%,
        transparent 46%,
        transparent 76%,
        transparent 76%,
        transparent 100%
      ),
      linear-gradient(45deg, rgb(255, 26, 17), rgb(255, 26, 17));
    color: white;
   &-heading{
       h1{
           font-size: 3rem;
           font-weight: 600;
        //    color: black;
       }
       p{
        font-weight: 300;
       }
   }
   &-content{

       margin: 4rem 0;
    p{
        columns: 2;
        font-weight: 400;
    
       }
       span{
           font-weight: 600;
           text-align: center;
       }
   }
   .event-count{

        background: white;
        color: black !important;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 0.3rem;
       margin-bottom: -6rem;
       bottom: 0;
    //    position: absolute;
       display: flex;
       flex-direction: row;
       padding: 2rem 1.5rem;
       justify-content: space-around;
       width: 100%;
       .event{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon{
           width: 48px;
           height: 48px;
           opacity: 0.8;
           img{
            height: 100%;
            opacity: 0.2;
           }
        }
        
         
        h1{ 
            padding: 3px;
            color: $primary !important;  
            font-size: 2rem;
            font-weight: 700;
        }
        p{
            color: rgb(85, 85, 85);
            font-weight: 500;
        }
       }
   }
   
}
@keyframes background {
    from {
      background-size: 100% 100%;
    }
    to {
      background-size: 117% 117%;
    }
  }

@media only screen and (max-width: 768px) {
.about{
   

    &-content{
 
        margin-top: 2rem;
     p{
         columns: 1;
         font-weight: 400;
     
        }
       
    }
    .event-count{
       
        // margin: 0;
    }
}
}