<div class="hero is-medium about mt-6">
  <div class="columns is-vcentered">
    <div class="column">
      <h1 class="title">About YUGMA</h1>
    </div>

    <div class="column">
      <div class="about-container">
        YUGMA 2021 is a collective techno-cultural event of eleven ASME Student
        Sections across Kerala collaborating for the first time in solidarity
        with the social obligation and team spirit they possess.
        <br><br>
        The three-day-long technical extravaganza aims to build a strong structural
        student network and expand the knowledge curve by migrating knowledge,
        conceptualizing innovations, and creating vibrant experiences for
        students and early-career engineers.
        <br><br>
        As our tagline goes, YUGMA 2021 is an embellished ensemble of passion-driven volunteers putting their heart
        and soul into a celebration of learning.
        <br><br>
        <span>So let’s raise a toast as we
        welcome you to our flagship event.</span>
      </div>
    </div>
  </div>
</div>
