<footer class="footer-section mgt-medium">
    <div class="container first-part">
      <div class="columns">
        <div class="column">
          <div>
            <img
              style="width: 200px"
              loading="lazy"
              src="../../../assets/navlogo.png"
              alt="Vajraah Logo"
              class="site-logo"
            />
          </div>
        </div>
        <div class="column has-text-right">
          <p>Follow us</p>
          <div class="social-icons">
            <a
              href="https://instagram.com/vajraah"
              rel="noreferrer"
              aria-label="Instagram"
              target="_blank"
              style="margin-right: 1rem"
            >
              <i class="fa fa-instagram fa-2x"></i>
            </a>

            <a
            href=""
            rel="noreferrer"
            aria-label="Facebook"
            target="_blank"
            class="social-icon social-icon--facebook"
            style="margin-right: 1rem"
          >
            <i class="fa fa-youtube fa-2x"></i>
          </a>
  
            <a
              href=""
              rel="noreferrer"
              aria-label="Facebook"
              target="_blank"
              class="social-icon social-icon--facebook"
            >
              <i class="fa fa-facebook fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <hr />
    </div>
    <div class="information">
      <nav class="level">
      
  
        <div class="level-item">
          <i class="fas fa-paper-plane fa-3x"></i>
          <div>
            <p class="heading">Mail Us @</p>
            <a href="mailto:yugma2k21@gmail.com">yugma2k21@gmail.com</a>
          </div>
        </div>
  
        <div class="level-item">
          <i class="fas fa-phone-alt fa-3x"></i>
          <div>
            <p class="heading">Give Us a Call</p>
            <a href="tel:919744760388">(+91) 9744760388</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <hr />
    </div>
  
    <div class="copyright">
      <div class="container">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            © {{ dateToday | date: "y" }} Yugma2021 | All rights reserved | Designed
            by
            <a
              style="color: #1d3557; font-weight: 500"
              href="https://linktree.santhoshthomas.xyz"
              target="_blank"
              >Santhosh Thomas</a
            >
          </div>
         
        </div>
      </div>
    </div>
  </footer>
  