<section class="hero is-white is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
  
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body hero1">
      <div class="container">
        <div class="columns is-centered is-vcentered">
          <div class="column">
           
         <div class="text-container">
            <!-- <h1 class="title">
              <span>YUGMA</span> 2021
              <p>Conquer with intergerity</p>
            </h1> -->
            <div class="landing-logo">
              <img src="../../../assets/Yugmalatest.png"  alt="landing-logo">
            </div>
            
            <h5 class="subtitle">
              
              Powered by <span> ASME Student Sections -Kerala Collective</span> 
            </h5>
          </div> 
         
          </div>
  
          <!-- <div class="column second-section">
            <img src="../../../assets/3d-flame-126.png" class="image rotate-scale-up" width="500px" height="500px">
          </div> -->
        </div>
  
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <!-- <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a>Modifiers</a></li>
            <li><a>Grid</a></li>
            <li><a>Elements</a></li>
            <li><a>Components</a></li>
            <li><a>Layout</a></li>
          </ul>
        </div>
      </nav>
    </div> -->
  </section>
  

  



<section class="section is-medium  event-count" >
  <div class="container">
    <div class="columns is-vcentered">


   <div class="column" >
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>

        <p class="title is-size-1 is-size-4-mobile has-text-white ">3+</p>
        <p class=" is-size-6 is-size-6-mobile">Speakers</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>

        <p class="title is-size-1 is-size-4-mobile  has-text-white">11+</p>
        <p class="is-size-6 is-size-6-mobile">Sponsors</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>

        <p class="title is-size-1 is-size-4-mobile  has-text-white">7+</p>
        <p class="is-size-6 is-size-6-mobile">Events</p>
      </div>
    </div>
    <!-- <div class="level-item has-text-centered">
      <div>

        <p class="title is-size-1 is-size-4-mobile  has-text-white">{{seconds}}+</p>
        <p class=" is-size-4">Event Participants</p>
      </div>
    </div> -->
  </nav>
</div>
</div>
</div>
</section>



<!-- <app-about></app-about> -->

<section class="section mt-6 mb-6 event-date " >
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
    <h1 class="title has-text-weight-bold has-text-centered-mobile tracking-in-contract" style="font-size: 3rem;" ngsReveal><strong>Events Starts On
       </strong></h1>
    <h2 class="subtitle is-size-4 has-text-centered-mobile">
      June 18, 2021
    </h2>
  </div>


   <div class="column"  [ngsRevealSet]="{ reset:true}" [ngsInterval]="250" [ngsSelector]="'.level-item'">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
      
        <p class="title is-size-1 is-size-2-mobile ">{{diffInDays}}</p>
        <p class="heading is-size-6">Days</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
       
        <p class="title is-size-1 is-size-2-mobile ">{{hour}}</p>
        <p class="heading is-size-6">Hours</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        
        <p class="title is-size-1 is-size-2-mobile ">{{minutes}}</p>
        <p class="heading is-size-6">Minutes</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
       
        <p class="title is-size-1 is-size-2-mobile ">{{seconds}}</p>
        <p class="heading is-size-6">Seconds</p>
      </div>
    </div>
  </nav>
</div>
</div>
</div>
</section>





<app-speakers></app-speakers>


<app-program-schedule></app-program-schedule>


<app-sponors></app-sponors>

<app-contact></app-contact>

<footer class="section has-background-primary">
  <div class="content has-text-centered">
    <p class="has-text-white">
      <strong>Designed And Developed</strong> by <a href="https://jgthms.com">Santhosh Thomas</a>.
    </p>
  </div>
</footer>
