@import '../../../main-style.scss';


.hero1{

  // background: $primary  url('../../../assets/bg6.png') no-repeat ;
  background: $primary url('../../../assets/bg.png') no-repeat ;
  
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 0;
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: background 5s linear infinite alternate;
  animation-timing-function:ease-in-out;
  // border-radius: 20px;
  margin: 0px 0px;
  // box-shadow:  20px 20px 60px #d9d9d9,
  //            -20px -20px 60px #ffffff;

  .text-container{
    .title{
      font-size: 4rem;
      font-weight: 700;
      color: white;
      span{
        background: #F4D35E;
        opacity: 0.8;
        color: $primary;
        padding: 0.5rem 1rem;
      }
      
    }
    .subtitle{
      // font-size: 1rem;
      padding: 1rem;
      font-weight: 300;
      color: rgb(214, 214, 214);
    }
  }
  

}

.event-date{

  // background-image: 0 90%;
  // background-repeat: no-repeat;
  // background-size: cover;
  // color: white;
  // background:url('https://images.unsplash.com/photo-1519750157634-b6d493a0f77c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1934&q=80') 0 50%;
}

.event-count{
  background: url('https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1608359752/asme/bg6_znniuj.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: background 20s linear infinite alternate;

}
.keynote{
  img:hover{

      opacity: 0.5;
  }

}



 .tracking-in-contract{-webkit-animation:tracking-in-contract .8s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract .8s cubic-bezier(.215,.61,.355,1.000) both}


@-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}



.rotate-scale-up{ 
    animation-name: rotate-scale-up;
    animation-duration: 5s;
    animation-iteration-count: infinite;}
  
@keyframes rotate-scale-up{ 0%   { left:0px; top:300px;}
25%  { left:300px; top:100px;}
50%  {
 transform: rotate(-180deg);
 left:0px; top: -100px;
}
75%  { left:0px; top:-50px;
}
100% {
 transform: rotate(-270deg);left:0px; top:300px;}
}

@keyframes rotate-scale-up-mobile{ 0%   { left:0px; top:300px;}
25%  { left:200px; top:100px;}
50%  {
 transform: rotate(-180deg);
 left:0px; top: -140px;
}
75%  { left:-400px; top:-50px;
}
100% {
 transform: rotate(-270deg);left:0px; top:300px;}
}


@keyframes background{  
  from {background-size: 100% 100%;}
to {background-size: 105% 105%;}
}




.dateinformation {
  border: 1px black;
}

.keynote {
  // figure{
  //   width: 256px;
  //   height: 256px;
  //   margin: auto;
  // }
  // background-image: linear-gradient(to right top, #3423a6, #3a27bc, #402ad2, #462ee8, #4c31ff);
  .keynote-speaker-detail {
    position: relative;
    .keynote-speaker {
      // padding-left:50px;
      right: auto;
    }
  }
}
.example-tab-icon {
  margin-right: 8px;
}

.event {
  padding: 20px 0;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.swiper-container {
  width: 100%;
  // height: 100%;
  // margin: auto;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  
  .hero1 {
    background: $primary url('../../../assets/bgmob.png') no-repeat ;
    border-radius: 0;
    margin: 0 !important;
  }
  .swiper-container {
    height: 600px;
    flex-direction: column-reverse;
    display: flex;
    .keynote-speaker {
    }
  }
}

.sponsor {
  background: url("https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1608359752/asme/bg6_znniuj.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: background 20s linear infinite alternate;

  img {
    height: 100px;
    width: auto;
    margin: auto;
    filter: grayscale(70);
  }
  img:hover {
    filter: grayscale(0);
  }
}

.details {
  background: url("https://res.cloudinary.com/www-santhoshthomas-xyz/image/upload/v1608359752/asme/bg6_znniuj.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: background 20s linear infinite alternate;
}

.speakers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  gap: 20px;
  .speaker {
    // flex: 1 0 33%;
    flex: 50%;
    &:nth-child(even) {
      margin-top: 20rem;
    }
    
    &-img{
      width: 300px;
      height: 400px;
     
      background-size: cover;
      img{
        width: 300px;
        height: 400px;
      object-fit: cover;
 
      // border-radius: 50%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
   
    }
    .text-block{
      display: inline-block;
      width: 100%;
   
      text-align: center;
      bottom: 0px;
      left: 0;
      vertical-align: middle;
      // background: white;
      // opacity:0;
      transition: all 0.3s ease-in;
      padding: 1rem 0;
    
      color: white;
     
     }
     &:hover{
       .text-block{
      opacity: 1;
   
       }
    }
    &-name{

      font-weight: 500;
      font-size: 1.2rem;
     
      color: black;
    }
    &-designation{
      color: rgb(109, 108, 108);
      font-weight: 400;
       
    }
   
  }
}
.event-count {
  color: white;
  background-image: radial-gradient(
      circle at 29% 55%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 4%,
      transparent 4%,
      transparent 44%,
      transparent 44%,
      transparent 100%
    ),
    radial-gradient(
      circle at 85% 89%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 51%,
      transparent 51%,
      transparent 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 90%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 53%,
      transparent 53%,
      transparent 64%,
      transparent 64%,
      transparent 100%
    ),
    radial-gradient(
      circle at 35% 75%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 6%,
      transparent 6%,
      transparent 98%,
      transparent 98%,
      transparent 100%
    ),
    radial-gradient(
      circle at 56% 75%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 16%,
      transparent 16%,
      transparent 23%,
      transparent 23%,
      transparent 100%
    ),
    radial-gradient(
      circle at 42% 0%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 3%,
      transparent 3%,
      transparent 26%,
      transparent 26%,
      transparent 100%
    ),
    radial-gradient(
      circle at 29% 28%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 51%,
      transparent 51%,
      transparent 75%,
      transparent 75%,
      transparent 100%
    ),
    radial-gradient(
      circle at 77% 21%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 35%,
      transparent 35%,
      transparent 55%,
      transparent 55%,
      transparent 100%
    ),
    radial-gradient(
      circle at 65% 91%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 46%,
      transparent 46%,
      transparent 76%,
      transparent 76%,
      transparent 100%
    ),
    linear-gradient(45deg, rgb(255, 26, 17), rgb(255, 26, 17));
}

