<section class="hero is-white is-fullheight" id="home">
 
  <div class="hero-head"></div>

  
  <div class="hero-body hero1">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column">
          <div class="text-container">
            <!-- <h1 class="title">
              <span>YUGMA</span> 2021
              <p>Conquer with intergerity</p>
            </h1> -->
            <div class="landing-logo">
              <img src="../../../assets/Yugmalatest.png" alt="landing-logo" />
            </div>

            <h5 class="subtitle">
              Powered by <br><br><span> ASME Student Sections - Kerala Collective</span>
            </h5>
          </div>
        </div>

        <!-- <div class="column second-section">
            <img src="../../../assets/3d-flame-126.png" class="image rotate-scale-up" width="500px" height="500px">
          </div> -->
      </div>
    </div>
  </div>

</section>

<app-about></app-about>

<section class="section event-date">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h1
          class="
            title
            has-text-weight-bold has-text-centered-mobile
            tracking-in-contract
          "
          style="font-size: 3rem"
          ngsReveal
        >
          <strong>Event Starts On </strong>
        </h1>
        <h2 class="subtitle is-size-4 has-text-centered-mobile">
          June 18, 2021
        </h2>
      </div>

      <div
        class="column"

      >
        <nav class="level is-mobile">
          <div class="level-item has-text-centered" data-aos="flip-up">
            <div>
              <p class="title is-size-1 is-size-3-mobile">{{ diffInDays }}</p>
              <p class="is-size-6">Days</p>
            </div>
          </div>
          <div class="level-item has-text-centered" data-aos="flip-up">
            <div>
              <p class="title is-size-1 is-size-3-mobile">{{ hour }}</p>
              <p class="is-size-6">Hours</p>
            </div>
          </div>
          <div class="level-item has-text-centered" data-aos="flip-up">
            <div>
              <p class="title is-size-1 is-size-3-mobile">{{ minutes }}</p>
              <p class="is-size-6">Minutes</p>
            </div>
          </div>
          <div class="level-item has-text-centered" data-aos="flip-up">
            <div>
              <p class="title is-size-1 is-size-3-mobile">{{ seconds }}</p>
              <p class="is-size-6">Seconds</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>


<app-speakers></app-speakers>
<app-events></app-events>
<app-program-schedule></app-program-schedule>

<app-sponors></app-sponors>

<app-contact></app-contact>
<!-- 
<footer class="section mt-4 has-background-primary">
  <div class="content has-text-centered">
    <p class="has-text-white">
      <strong>Designed And Developed</strong> by
      <a>Santhosh Thomas</a>.
    </p>
  </div>
</footer> -->
<app-footer></app-footer>